In [1]:
import pandas as pd
file_path = '/home/eric_baldwin/ddiMain/midterm/Meteor_Landing_Data/data/Meteorite_Landings_20240617.csv'
df = pd.read_csv(file_path)

In [2]:
table_shape = df.shape
table_shape

(45716, 10)

In [3]:
min_mass = df['mass (g)'].min()
max_mass = df['mass (g)'].max()
print(f"Minimum mass (g): {min_mass}")
print(f"Maximum mass (g): {max_mass}")

Minimum mass (g): 0.0
Maximum mass (g): 60000000.0

In [4]:
average_mass = df.groupby('fall')['mass (g)'].mean()
average_mass

fall
Fell     47070.715023
Found    12461.922983
Name: mass (g), dtype: float64

In [5]:
fall_counts = df['fall'].value_counts()
fall_counts

Found    44609
Fell      1107
Name: fall, dtype: int64

In [6]:
min_mass = df.groupby('fall')['mass (g)'].min()
max_mass = df.groupby('fall')['mass (g)'].max()
min_mass, max_mass

(fall
 Fell     0.1
 Found    0.0
 Name: mass (g), dtype: float64,
 fall
 Fell     23000000.0
 Found    60000000.0
 Name: mass (g), dtype: float64)

In [7]:
min_yr = df.groupby('fall')['year'].min()
max_yr = df.groupby('fall')['year'].max()
min_yr, max_yr

(fall
 Fell      860.0
 Found    1575.0
 Name: year, dtype: float64,
 fall
 Fell     2013.0
 Found    2101.0
 Name: year, dtype: float64)

In [8]:
recclass_counts = df['recclass'].value_counts()
recclass_counts

L6         8285
H5         7142
L5         4796
H6         4528
H4         4211
           ...
EL7           1
CH/CBb        1
H/L~4         1
LL3.7-6       1
L/LL          1
Name: recclass, Length: 466, dtype: int64

In [12]:
#df = df[(df['mass (g)'] <= 453.592) & (df['mass (g)'] >= 28.3495)]
#df = df[(df['year'] <= 2024) & (df['year'] >= 2004)]

# Calculate the counts of each recclass
recclass_counts = df['recclass'].value_counts()

# Get the top 20 recclass values
top_20_recclass_counts = recclass_counts.head(5)

# Calculate the average mass for each recclass
recclass_avg_mass = df.groupby('recclass')['mass (g)'].mean()
recclass_avg_year = df.groupby('recclass')['year'].mean()

# Combine the counts and average mass into a single DataFrame
top_20_recclass_df = top_20_recclass_counts.reset_index()
top_20_recclass_df.columns = ['recclass', 'count']
top_20_recclass_df['average_mass (g)'] = top_20_recclass_df['recclass'].map(recclass_avg_mass)
top_20_recclass_df['average_year'] = top_20_recclass_df['recclass'].map(recclass_avg_year)
# Display the top 20 recclass values with counts and average mass
top_20_recclass_df

  recclass  count  average_mass (g)  average_year
0       L6   8285       1450.444284   1991.464927
1       H5   7142       2166.091410   1991.008866
2       L5   4796       1797.351703   1998.452386
3       H6   4528        862.366988   1993.158547
4       H4   4211        997.419550   1989.459976

In [13]:
# Display all unique values in the nametype column
unique_nametype_values = df['nametype'].unique()
print("Unique values in the 'nametype' column:")
print(unique_nametype_values)

Unique values in the 'nametype' column:
['Valid' 'Relict']

In [16]:
nametype_counts = df['nametype'].value_counts()

# Display the counts for 'valid' and 'relict'
valid_count = nametype_counts.get('Valid', 0)
relict_count = nametype_counts.get('Relict', 0)

print(f"Count of rows with nametype 'valid': {valid_count}")
print(f"Count of rows with nametype 'relict': {relict_count}")

Count of rows with nametype 'valid': 45641
Count of rows with nametype 'relict': 75