In [1]:
import pandas as pd
file_path = '/home/eric_baldwin/ddiMain/midterm/Meteor_Landing_Data/data/Meteorite_Landings_20240617.csv'
df = pd.read_csv(file_path)

In [5]:
table_shape = df.shape
table_shape

(45716, 10)

In [6]:
min_mass = df['mass (g)'].min()
max_mass = df['mass (g)'].max()
print(f"Minimum mass (g): {min_mass}")
print(f"Maximum mass (g): {max_mass}")

Minimum mass (g): 0.0
Maximum mass (g): 60000000.0

In [7]:
average_mass = df.groupby('fall')['mass (g)'].mean()
average_mass

fall
Fell     47070.715023
Found    12461.922983
Name: mass (g), dtype: float64

In [4]:
fall_counts = df['fall'].value_counts()
fall_counts

Found    44609
Fell      1107
Name: fall, dtype: int64

In [8]:
min_mass = df.groupby('fall')['mass (g)'].min()
max_mass = df.groupby('fall')['mass (g)'].max()
min_mass, max_mass

(fall
 Fell     0.1
 Found    0.0
 Name: mass (g), dtype: float64,
 fall
 Fell     23000000.0
 Found    60000000.0
 Name: mass (g), dtype: float64)

In [10]:
min_yr = df.groupby('fall')['year'].min()
max_yr = df.groupby('fall')['year'].max()
min_yr, max_yr

(fall
 Fell      860.0
 Found    1575.0
 Name: year, dtype: float64,
 fall
 Fell     2013.0
 Found    2101.0
 Name: year, dtype: float64)

In [14]:
recclass_counts = df['recclass'].value_counts()
recclass_counts

L6         8285
H5         7142
L5         4796
H6         4528
H4         4211
           ...
EL7           1
CH/CBb        1
H/L~4         1
LL3.7-6       1
L/LL          1
Name: recclass, Length: 466, dtype: int64

In [27]:
#df = df[(df['mass (g)'] <= 453.592) & (df['mass (g)'] >= 28.3495)]
#df = df[(df['year'] <= 2024) & (df['year'] >= 2004)]

# Calculate the counts of each recclass
recclass_counts = df['recclass'].value_counts()

# Get the top 20 recclass values
top_20_recclass_counts = recclass_counts.head(20)

# Calculate the average mass for each recclass
recclass_avg_mass = df.groupby('recclass')['mass (g)'].mean()
recclass_avg_year = df.groupby('recclass')['year'].mean()

# Combine the counts and average mass into a single DataFrame
top_20_recclass_df = top_20_recclass_counts.reset_index()
top_20_recclass_df.columns = ['recclass', 'count']
top_20_recclass_df['average_mass (g)'] = top_20_recclass_df['recclass'].map(recclass_avg_mass)
top_20_recclass_df['average_year'] = top_20_recclass_df['recclass'].map(recclass_avg_year)
# Display the top 20 recclass values with counts and average mass
top_20_recclass_df

         recclass  count  average_mass (g)  average_year
0              L6    680        146.663763   2007.376471
1              L5    577        129.106912   2006.417678
2              H5    422        141.583453   2007.018957
3             LL6    411        118.985937   2007.798054
4              H6    347        126.125461   2006.953890
5             LL5    231        144.691342   2007.281385
6              H4    211        167.287896   2007.672986
7              L4    150        175.588013   2006.993333
8         Eucrite     79        169.710177   2007.455696
9        Ureilite     68        166.383676   2007.220588
10            CV3     59        157.404237   2008.254237
11            CO3     57        129.105439   2008.263158
12      Howardite     55        157.974182   2008.290909
13      Diogenite     52        165.059808   2007.519231
14             L3     49        150.416122   2007.755102
15            LL4     43        182.442326   2007.465116
16   Mesosiderite     42        141.262857   2006.809524
17             H3     39        117.853590   2006.666667
18  Eucrite-pmict     36        140.821667   2008.861111
19            H~5     34        119.764706   2007.382353